.slide {
  overflow:hidden;
}

.slide .Geographist-top-image {
  animation: bgAnime 16s infinite;
}

.slide .src1 {
  background-image:url(Geographist-top-image1.jpg);
}

.slide .src2  {
  background-image:url(Geographist-top-image2.jpg);
  animation-delay: 8s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}
